{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
{% for post in posts %}
<article>
    <h2>{{ post.title }}</h2>
    <div>{{ post.content|striptags|linebreaks }}</div>
    <small>Published on {{ post.publish_time|date:"M d, Y" }} by {{ post.author }}</small>
    <p>{% for category in post.categories.all %}<span class="badge bg-secondary">{{ category }}</span> {% endfor %}</p>
</article>
<hr>
{% empty %}
<p>No notes yet. <a href="{% url 'post-form' %}">Create the first note</a>.</p>
{% endfor %}
{% endblock %}
