{% extends "base.html" %}

{% block title %} Main page {% endblock %}

{% block content %}

{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
			{{ message }}
		</div>
		{% endfor %}
	</div>
{% endif %}

{% for post in posts %}
	<h2 style="color:#f92c85 ;">{{ post.title }}</h2>
	<p>{{ post.content }}</p>
	<small>Published on {{ post.published_at | date:"M d, Y" }} by {{ post.author | title}}</small>
	<hr style="height:2px; width:100%; border-width:0; background-color:#5ebec4 ">
{% endfor %}

{% endblock %}
