{% extends "base.html" %}
{% block title %}{% if post %}Edit note{% else %}Create a new post{% endif %}{% endblock %}
{% block content %}
{{ form.media }}
<form method="post">
    {% csrf_token %}
    {% include "form_fields.html" %}
    <div class="note-actions">
        <button type="submit" class="btn btn-primary">{% if post %}Save changes{% else %}Save{% endif %}</button>
        <a href="{% if post %}{% url 'post-detail' post.pk %}{% else %}{% url 'home' %}{% endif %}">Cancel</a>
    </div>
</form>
{% endblock %}
